{% extends 'base_auth.html' %}
{% load crispy_forms_filters %}
{% block title %}Sign Up{% endblock %}
{% block bodyclass %}login-page{% endblock bodyclass %}

{% block content %}
  <div class="login-box">
    <div class="login-logo">
      <b>Sign UP</b>
    </div>
    <div class="card">
      <div class="card-body login-card-body">
        <form method="post" action="{% url 'task_catalog:register' %}">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary btn-block" value="Login">Sign In</button>

          <input type="hidden" name="next" value="{{ next }}">

        </form>
        <div>
          <p>Already have an account? <a href="{% url 'login' %}">Login!</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}